body{
    margin: 0px;
    overflow-x:hidden;
    font-family: "nunito";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header, .footer{
    width: 100vw;
    margin: 0px;
}
.boton{
position: fixed;
left: 1300px;
bottom: 300px;
}
.footer{
    margin-top: 80px;
}
.titulo{
    height: 49px;
    position: relative;
    right: 100px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.quienes, .experiencia, .contacto{
    display:flex;

}
.quienesizq, .comoizq, .contizq{
    display:flex;
    flex-direction: column;
    text-align: end;
    margin-left: 500px;
}
.expizq{
    margin-left: 475px;
}
.quienesder, .comoder, .expder, .contder{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 700px;
}
.comoder{
    margin-left:750px;
}

.contizq{
    margin-left:620px;
}
.quienesder p, .comoder p, .expder p{
    width: 520px;
    text-align: justify;

}
.quienesder h3{
    background: #8D41D1;
    color: white;
    padding-left: 20px;
}
.comoder h3{
    background: #EC4DC8;
    color: white;
    padding-left: 20px;
}
.expizq button{
    border: none;
    border-radius: 0px;
    background-color: #8D41D1;
    color: white;
    padding: 10px 15px;
    font-size: 10pt;
    font-weight: 400;
    width:170px;
}
.expder p{
    margin-top: -20px;
}
.fab{
    color: #EC4DC8; 
}
.contder{
    margin-top: -20px;
}
.contder p, .contder a{
    color: #8D41D1;
}
